:focus {
    outline: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.containerGeral {
    background: url("/image/BKG-cabecalho.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.imagem1 {
    margin-top: 6rem;
}

.logo {
    width: 45%;
}

.mainTitulo {
    margin-top: 2rem;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.tituloLibras {
    font-size: 11rem;
    display: inline-block;
    position: relative;
    font-family: "Open Sans", sans-serif;
}

.tituloLibras::before {
    content: '';
    position: absolute;
    left: 39%;
    top: 18%;
    width: 17%;
    height: 0.15em;
    background: #00C5F2;
    z-index: 0;
    border-radius: 20px;
}

.tituloLibras::after {
    content: '';
    position: absolute;
    left: 61%;
    top: 11%;
    width: 12.5rem;
    height: 10rem;
    background: url('/image/logo-unintese-branco.webp');
    z-index: 4;
    background-size: contain;
    background-repeat: no-repeat;
}

.titulo, .tituloLibras {
    font-weight: 800;
}

.divExpert {
    position: relative;
    border-radius: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-bottom: 0rem;
    margin-top: -2rem;
}

.expert {
    color: whitesmoke;
    letter-spacing: 4.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: default;
    margin-left: 5rem;
    margin-top: -0.3rem;
}

.subTitulo {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: -0.6rem;
    white-space: nowrap;
    margin-left: 1rem;
    letter-spacing: 10.4px;
}

.textoIntro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.introducao {
    text-align: left;
    font-weight: 500;
    font-size: 1.2rem;
}

.textoIntro span {
    font-weight: 700;
}

.divButton {
    width: auto;
    background: linear-gradient(to right, #00D1EA, #00C3F1, #01B9F5, #00B2F8);
    margin-bottom: 3rem;
    border-radius: 10px;
    padding: 0.8rem;
    transition: 0.5s ease-in-out, color 0.6s ease-in-out, transform 0.5s ease-in-out;
    cursor: pointer;
}

.buttonComecar {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 800;
    font-size: 1.9rem;
    transition: 0.5s ease-in-out, color 0.6s ease-in-out;
}

.divButton:hover {
    background: linear-gradient(45deg, #733EFE, #00B2F8, whitesmoke);
    transform: translateY(-5px) perspective(10px) matrix(1, 0, 0, 1, 0, 0); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.buttonComecar:hover {
    text-decoration: none;
    color: linear-gradient(45deg, #733EFE, #00D1EA, whitesmoke);
}


/* fim section 1 */





/* section 2 */
.backgroundAzul {
    background: linear-gradient(to right, #00D1EA, #00C3F1, #01B9F5, #00B2F8);
    height: auto;
}

.rowVideoCurso {
    align-items: center;
    gap: 3rem;
    flex-wrap: nowrap;
}

.divVideo, .divCurso {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divCurso p {
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

.divCurso span {
    font-weight: 700;
}


/* fim section 2 */




/* section 3 */
.divVideo2, .divCurso2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.divVideo2 h2, .divVideo2 p {
    color: #212121;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.divVideo2 h2 {
    font-weight: 800;
    font-size: 5rem;
    color: #0053A1;
    font-family: "Open Sans", sans-serif;
}

.divVideo2 span {
    font-weight: 700;
    color: #202020;
}


/* fim section 3 */



/* section 4 */
.backgroundMao {
    background: url('/image/maozinhas-azuis.webp');
    background-repeat: repeat;
    background-size: auto;
    height: 50vh;
    position: relative;
}

.backgroundMao::before {
    content: '';
    position: absolute;
    left: -34%;
    top: 0%;
    width: 34%;
    height: 50vh;
    background: inherit;
    z-index: 0;
}

.backgroundMao::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0%;
    width: 33.5%;
    height: 50vh;
    background: inherit;
    z-index: -1;
    overflow: hidden;
}

.backgroundAzulEscuro {
    background: #0053A1;
    height: 8rem;
    position: relative;
}

.backgroundAzulEscuro::before {
    content: '';
    position: absolute;
    left: -34%;
    top: 0%;
    width: 34%;
    height: 8rem;
    background: inherit;
    z-index: 0;
}

.backgroundAzulEscuro::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0%;
    width: 33.5%;
    height: 8rem;
    background: inherit;
    z-index: -1;
    overflow: hidden;
}

.divEnfase1 h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

.divEnfase1 p {
    color: #DD914F;
    font-size: 0.9rem;
}

.divbox {
    background: whitesmoke;
    padding: 2rem;
    border-radius: 30px;
    margin-top: 17rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 13px 10px 10px rgba(0, 0, 0, 0.7);
}

.divbox p {
    color: #212121;
    font-size: 0.9rem;
}

.subDivBox {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.subDivBox p {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.subDivBox ul {
    margin-bottom: -1rem;
    margin-left: 1rem;
}

.subDivBox li {
    color: #202020;
    font-size: 0.7rem;
    font-weight: 700;
}

/* fim section 4 */




/* section 5 */
.geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.geral h2 {
    color: #0053A1;
    font-size: 4.6rem;
    font-weight: 800;
}

.divImgs {
    display: flex;
    gap: 5rem;
    margin-bottom: 0.5rem;
}

.dinamicBox {
    padding: 0 1.5rem;
    background: #EDEDED;
    border-top: 2px solid #0053A1;
    width: 95%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.dinamicBox.expanded {
    max-height: 200px; 
}

.toggleButton {
    border: none;
    background: transparent;
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.2s ease-in-out;
}

.toggleButton:hover {
    filter: grayscale(0);
    border-radius: 20px;
}

/*#yellow:hover {
    box-shadow: 
        0 0 10px #FFCF00, 
        0 0 20px #FFE61B, 
        0 0 30px #FFCF00, 
        0 0 40px #FE7D07;
}

#blue:hover {
    box-shadow: 
    0 0 10px #0068B6, 
    0 0 20px #098EC3, 
    0 0 30px #34BFDB, 
    0 0 40px #0068B4; 
}

#red:hover {
    box-shadow: 
    0 0 10px #E74C4C, 
    0 0 20px #F53337, 
    0 0 30px #A60D13, 
    0 0 40px #C21C29;
}

#purple:hover {
    box-shadow: 
    0 0 10px #7B17EA, 
    0 0 20px #7A16E7, 
    0 0 30px #9836B2, 
    0 0 40px #7817E7;
}*/

.toggleButton:focus {
    outline: none;
    filter: grayscale(0);
}

.dinamicBox p {
    color: #202020;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.7;
}

.imgColored {
    filter: grayscale(0);
}


/* fim section 5 */




/* Tabela */
.tabelaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.tableDiv {
    width: 90%;
    background: whitesmoke;
    padding-top: 2rem;
    border-radius: 20px;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5), 
    0 6px 20px rgba(0, 0, 0, 0.4)
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    border-bottom: 4px solid #11D3F6; 
}

.table thead th {
    vertical-align: bottom;
    border-bottom: transparent;
    border-top: transparent;
}

th:first-child, td:first-child {
    border-left: none;
}

th:last-child, td:last-child {
    border-right: none;
}

th {
    color: #202020;
    background: whitesmoke;
    font-size: 1.3rem;
    border-bottom: 2px solid #11D3F6; 
}

.thDisciplina {
    background-color: whitesmoke;
    color: #202020;
    letter-spacing: 20px;
    text-align: left;
    font-size: 1.3rem;
}

td[colspan="2"] {
    background-color: #ED8A01;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 300;
    color: whitesmoke;
    border-bottom: transparent;
}

td {
    text-align: left;
    color: #202020;
    font-weight: 600;
}

.tdHorario {
    text-align: center;
    font-size: 1.1rem;
}

th:not([colspan="2"]) + th {
    border-left: 4px solid #11D3F6;
}

td:not([colspan="2"]) + td {
    border-left: 4px solid #11D3F6; 
    border-bottom: 4px solid #11D3F6;
}

#noBotBorder {
    border-bottom: transparent;
}

/* fim tabela */





/* section 6 */
.containerGeral2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.backgroundAzulEscuro2 {
    background: #0053A1;
    height: 18rem;
    position: relative;
}

.backgroundAzulEscuro2::before {
    content: '';
    position: absolute;
    left: -34%;
    top: 0%;
    width: 34%;
    height: 30.3vh;
    background: inherit;
    z-index: 0;
}

.backgroundAzulEscuro2::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0%;
    width: 33.5%;
    height: 30.3vh;
    background: inherit;
    z-index: -1;
    overflow: hidden;
}

.divEnfase {
    display: flex;
    justify-content: center;
}

.divEnfase img {
    margin-top: 1rem;
}

.divbox2 {
    background: linear-gradient(to bottom left, #00B5F7, #00C2F0, #00D0EC);
    padding: 1.8rem;
    border-radius: 20px;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 13px 10px 10px rgba(0, 0, 0, 0.7);
    width: 70%;
    margin-left: -1.6rem;
    position: relative;
    z-index: 2;
}

.subDivBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subDivBox2 h2 {
    font-size: 2.313rem;
    font-weight: 800;
    color: #FFFFFD;
    align-self: flex-start;
    font-family: 'Open Sans', sans-serif;
}

.mensalidade2 {
    font-size: 1rem;
    color: #ffda7b;
    font-weight: 600;
    margin-bottom: 1rem;
    align-self: flex-start;
    font-family: 'Open Sans', sans-serif;
}

.divValor {
    display: flex;
    flex-direction: column;
}

.divValor p {
    font-size: 1.313rem;
    margin-left: -1rem;
}

.divValor h3 {
    margin-left: 2rem;
    margin-top: -5rem;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.125rem;
}

.divValor span {
    font-size: 5.813rem;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.divValor strong {
    font-size: 2.125rem;
    font-family: 'Open Sans', sans-serif;
}

.pagamento {
    font-style: italic;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
}

.divButton2 {
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 70%;
    text-decoration: none;
    border-radius: 25px;
    background: linear-gradient(#F07200, #F28D00, #F4AB00);
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    transition: 0.5s ease-in-out, color 0.6s ease-in-out, transform 0.5s ease-in-out;
}

.buttonAncora {
    color: #FEFEFE;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    transition: 0.2s ease-in-out, color 0.2s ease-in-out;
}

.divButton2:hover {
    background: linear-gradient(45deg, #E64B4B, #FB7100, #E44C4B, #EB6707, whitesmoke);
    transform: translateY(-5px) perspective(10px) matrix(1, 0, 0, 1, 0, 0); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.buttonAncora:hover {
    color: whitesmoke;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

/* fim section 6 */



/* section 7 */
.containerGeralFormulario {
    margin-top: -3rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
}

.backgroundBranco {
    background: url(/image/banner-formulario.webp);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.divGeralFormulario {
    display: flex;
    justify-content: center;
}

.divFormulario {
    padding: 2rem;
    background: whitesmoke;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.4);
    margin-top: 28rem;
    width: 75%;
    border-radius: 20px;
    height: 63%;
    width: 70%;
}

.divFormulario h2 {
    color: #202020;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

#mauticform_label_formulariolibrasexpert_nome1, #mauticform_label_formulariolibrasexpert_email, #mauticform_label_formulariolibrasexpert_whatsapp_com_ddd, #mauticform_label_formulariolibrasexpert_escolha_sua_enfase, #mauticform_label_formulariolibrasexpert_escolha_sua_enfase {
    color: #202020;
    font-size: 1rem;
}

.mauticform-selectbox, .mauticform-input, .mauticform-textarea, option, select {
    width: 100%;
    padding: 0.5em 0.5em;
    border: 1px solid #CCC;
    background: whitesmoke;
    box-shadow: 0px 0px 0px #fff inset;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    height: 3rem;
}

#mauticform_formulariolibrasexpert_submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mauticform_input_formulariolibrasexpert_submit {
    width: 65%;
    margin-top: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.5rem;
    background: linear-gradient(#F07200, #F28D00, #F4AB00);
    transition: 0.5s ease-in-out, color 0.6s ease-in-out, transform 0.5s ease-in-out;
    border: none;
    color: whitesmoke;
}

#mauticform_input_formulariolibrasexpert_submit:hover {
    background: linear-gradient(45deg, #E64B4B, #FB7100, #E44C4B, #EB6707, whitesmoke);
    transform: translateY(-5px) perspective(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


/* fim section 7 */




/* footer */
footer {
    margin-top: 22rem;
    margin-bottom: 2rem;
}

.divRedes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.divRedes a {
    display: inline-block;
}

.icon-social {
    transition: filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: visible;
    background: whitesmoke;
    border-radius: 10px;
}

.icon-social:hover {
    filter: grayscale(7) brightness(1) invert(30);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5), 0 8px 20px rgba(0, 0, 0, 0.4);
    background: transparent;
    overflow: visible;
}

/* fim footer */






/* midia querys */
@media (width: 2560px) {
    .backgroundAzulEscuro::before {
        left: -63%;
        width: 64%;
    }

    .backgroundAzulEscuro::after {
        left: 99%;
        width: 39.5%;
    }

    .backgroundAzulEscuro2::before {
        left: -63%;
        width: 64%;
        height: 26.7vh;
    }

    .backgroundAzulEscuro2::after {
        left: 99%;
        width: 39.5%;
    }
}

@media (width: 1706px) {
    .backgroundAzulEscuro2::before {
        height: 22.5vh;
        width: 35%;
    }

    .backgroundAzulEscuro2::after {
        left: 99%;
        width: 25%;
    }
}

@media (max-width: 1536px) {
    .tabelaContainer {
        height: auto;
    }

    .backgroundAzulEscuro::before {
        left: -18%;
        width: 19%;
        height: 8rem;
    }

    .backgroundAzulEscuro::after {
        left: 99%;
        width: 5.5%;
        height: 8rem;
    }

    .backgroundAzulEscuro2::before {
        left: -18%;
        width: 19%;
        height: 33.4vh;
    }

    .backgroundAzulEscuro2::after { 
        left: 99%;
        width: 5.5%;
        height: 33.5vh;
    }

    .divFormulario {
        margin-top: 33rem;
    }

    footer {
        margin-top: 32rem;
    }
}

@media (max-width: 1366px) {
    .tabelaContainer {
        height: auto;
    }

    .backgroundAzulEscuro::before {
        left: -10%;
        width: 11%;
        height: 8rem;
    }

    .backgroundAzulEscuro::after {
        left: 99%;
        width: 10.5%;
        height: 8rem;
    }

    .backgroundAzulEscuro2::before {
        left: -10%;
        width: 11%;
        height: 37.5vh;
    }

    .backgroundAzulEscuro2::after {
        left: 99%;
        width: 6.5%;
        height: 37.5vh;
    }

    .divGeralFormulario {
        margin-top: 8rem;
    }

    .divFormulario {
        width: 60%;
    }

    footer {
        margin-top: 32rem;
    }
}

@media (max-width: 1280px) {
    .geral {
        margin-top: 3rem;
    }

    .tabelaContainer {
        height: auto;
        margin-top: 4rem;
    }

    .backgroundAzulEscuro2::after {
        left: 99%;
        width: 14.3%;
        height: 40vh;
    }

    .backgroundAzulEscuro2::before {
        left: -7%;
        width: 8%;
        height: 40vh;
    }

    .backgroundBranco {
        background: none;
    }

    .divFormulario {
        margin-top: 40rem;
    }

    footer {
        margin-top: 44rem;
    }
}

/* mobile */
@media (max-width: 1115px) {
    body {
        width: -webkit-fill-available;
    }

    .backgroundAzulEscuro2::after {
        content: '';
        position: absolute;
        left: 100%;
        top: 0%;
        width: 0%;
        height: 30.3vh;
        background: inherit;
        z-index: -1;
        overflow: hidden;
    }

    .backgroundAzulEscuro2::before {
        content: '';
        /* position: absolute; */
        /* left: -34%; */
        /* top: 0%; */
        /* width: 34%; */
        /* height: 30.3vh; */
        /* background: inherit; */
        /* z-index: 0; */
    }

    .dinamicBox {
        width: auto;
        height: auto;
    }

    .tituloLibras {
        font-size: 7rem;
        margin-left: 1rem;
    }

    .tituloLibras::after {
        width: 8rem;
    }

    .expert {
        letter-spacing: 2.2rem;
        margin-left: 2.2rem;
        margin-top: 0.5rem;
    }

    .subTitulo {
        margin-bottom: auto;
        margin-top: auto;
        margin-left: 1rem;
        letter-spacing: 2.8px;
    }

    .textoIntro {
        gap: 0rem;
    }

    .divButton {
        width: 100%;
        margin-bottom: -3rem;
    }

    .imagem1 {
        margin-top: auto;
    }

    .rowVideoCurso {
        flex-wrap: wrap;
        justify-content: center;
    }

    .divVideo {
        margin-bottom: 0rem;
        display: flex;
        justify-content: center;
    }

    .divCurso {
        display: none;
    }

    .divVideo2, .divCurso2 {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .backgroundMao {
        display: none;
    }

    .divEnfase1 h3 {
        margin-top: 1rem;
    }

    .divbox {
        margin-top: 0rem;
    }

    .geral h2 {
        margin-top: 1rem;
    }

    .backgroundAzulEscuro {
        height: auto;
    }

    .backgroundAzulEscuro::after {
        width: auto;
    }

    .geral h2 {
        display: none;
    }

    .geral {
        margin-top: auto;
    }

    .divImgs {
        gap: 1rem;
        flex-direction: column;
    }

    .tabelaContainer {
        height: auto;
        margin-top: 3rem;
        margin-bottom: auto;
    }

    .tableDiv {
        width: auto;
        overflow: auto;
    }

    .imgContexto {
        width: 100%;
    }

    .containerGeral2 {
        margin-top: 2rem;
        margin-bottom: auto;
        background: #0053A1;
    }

    .backgroundAzulEscuro2 {
        height: auto;
        background: none;
    }

    .divEnfase img {
        display: none;
    }

    .divbox2 {
        margin-top: auto;
        width: auto;
        margin-left: auto;
        margin-bottom: -3rem;
    }

    .divValor span {
        font-size: 4.113rem;
        font-weight: 800;
        font-family: 'Open Sans', sans-serif;
    }

    .divValor h3 {
        margin-top: -3rem;
    }

    .buttonAncora {
        font-size: 1.5rem;
    }

    .divFormulario {
        margin-top: auto;
        height: auto;
        width: auto;
    }

    .backgroundBranco {
        background: none;
    }
    
    .divFormulario h2 {
        font-size: 1.4rem;
    }

    footer {
        margin-top: 8rem;
    }

    .containerGeralFormulario {
        margin-top: 12rem;
    }
    
    
}

@media (max-width: 1114px) {
    .divButton {
        width: 100%;
        margin-bottom: 3rem;
    }
}

@media (max-width: 1024px) {
    .expert {
        margin-left: -1.8rem;
    }

    .divButton {
        margin-bottom: 3rem;
    }

    .dinamicBox p {
        font-size: 1.4rem;
    }
}

@media (width: 1024px) and (height: 600px) {
    footer {
        margin-top: 13rem;
    }
}

@media (min-width: 768px) and (max-width: 820px) {
    .mainTitulo {
        align-items: center;
    }

    .tituloLibras {
        font-size: 11rem;
    }

    .subTitulo {
        margin-left: 0;
    }
}

@media (max-width: 540px) {
    .expert {
        margin-left: -5.8rem;
    }

    .subTitulo {
        margin-left: 1.5rem;
    }

    .divGeralFormulario {
        margin-top: 4rem;
    }

    footer {
        margin-top: 13rem;
    }

    .dinamicBox p {
        font-size: 1rem;
    }
}

@media (max-width: 430px) {
    .expert {
        letter-spacing: 2.2rem;
        margin-left: 1.2rem;
        margin-top: 0.5rem;
    }

    .subTitulo {
        margin-left: 1.7rem;
        letter-spacing: 2.8px;
    }
}

@media (max-width: 412px) {
    .subTitulo {
        margin-left: 1rem;
    }

    .tituloLibras {
        margin-left: 0.6rem;
    }
}

@media (max-width: 393px) {
    .tituloLibras {
        font-size: 7rem;
        margin-left: 0rem;
    }
}

@media (max-width: 375px) {
    .dinamicBox {
        width: auto;
        height: auto;
    }

    .tituloLibras {
        font-size: 5.5rem;
    }

    .tituloLibras::after {
        width: 6rem;
    }

    .expert {
        letter-spacing: 1.3rem;
        margin-left: 0.2rem;
        margin-top: 0.5rem;
    }

    .subTitulo {
        margin-bottom: auto;
        margin-top: auto;
        margin-left: 0rem;
        letter-spacing: 0.2px;
    }

    .buttonComecar {
        font-size: 1.3rem;
    }

    .rowVideoCurso {
        justify-content: unset;
    }

    .divVideo {
        margin-bottom: 0rem;
        justify-content: center;
        display: flex;
    }

    .divVideo2 h2 {
        font-size: 4rem;
    }

    .imgContexto {
        width: 100%;
    }

    .subDivBox2 h2 {
        font-size: 1.813rem;
    }

    .divValor span {
        font-size: 3.513rem;
    }

    .buttonAncora {
        font-size: 1.2rem;
    }

    .containerGeralFormulario {
        margin-top: 13rem;
    }

    footer {
        margin-top: 17rem;
    }

    #mauticform_input_formulariolibrasexpert_submit {
        font-size: 1.3rem;
    }
}

@media (width: 375px) {
    .tituloLibras {
        font-size: 7rem;
    }

    .subTitulo {
        margin-left: 1rem;
        letter-spacing: 1.2px;
    }
}

@media (width: 360px) {
    .tituloLibras {
        font-size: 6.5rem;
    }

    .subTitulo {
        margin-left: 1.5rem;
    }
}